body {
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Balsamiq Sans', cursive;*/
}

.navbar {
	background-color: rgba(25, 67, 160, 0.2); /* cor azul aleatória */
	/*background-color: rgba(12, 93, 166, 0.2);*/ /* cor que está no trello #0c5da6  */
}


.paralax1, .paralax2, .paralax3{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	background-position: center;
	margin: 0;
	padding: 0;
}


.paralax1{
	background-image: url(../img/bg1.gif);
	height: 960px;
	top: 888px;
	 
}

.paralax1 h1 {
	padding-top: 200px;
	padding-left: 30px;
}

.paralax2{
	background-image: url(../img/bg2.jpg);
}

.paralax3{
	background-image: url(../img/bg3.jpg);
}


.paginaAtual{
	display: inline-block;
	text-align: left;
	font-size: 70px;
	font-weight: bold;
	color: white;
	margin-left: 30px;
}


.fundofalso{
	/*background-color: rgb(26, 24, 24) !important;*/
	/*opacity: 0.6;*/
	background-size: cover;
	position: fixed;
	width: 100%;
	top: 0%;
	z-index: 100;
}


img.logo{
	width: 100%;
	height: 100%;
	max-width: 400px;
	max-height: 200px;

}


.carousel{
	display: inline-block;
	padding: 10px;
	background-color: rgb(39, 38, 38);
	margin-top: 30px;
	margin-bottom: 30px;
	width: 70%;
	height: 90%;
	max-width: 1100px;
	max-height: 900px;
}

.carousel-caption{ 
	color:yellow; 
	font-size: 28px;
	font-weight: bold;
}

li.nav-item{
	margin-right: 10px;
	margin-left: 10px;
	opacity: 1;
}
a.nav-link{
	color: white;
	font-weight: bold;
	/*font-style: normal;*/
	opacity: 1;
	font-size: 20px;
	
}



li.nav-item:hover{
	background-color: black;
	transform: scale(1.3);
	opacity: 1;
	transition: 0.7s;
}

.navbar-toggler-icon:hover{
	transform: scale(1.3);
	opacity: 1;
	transition: 0.7s;
	
}

.carousel-inner > .carousel-item > img {
	width: 40em;
	height: 30em;
	max-width: 1200px;
	max-height: 900px; 
  }

.menu{
	text-align: center;
	width: 100%;
	height: 100%;
	
}

.rodape{
	width: 100%;
	background-color: black;
	opacity: 0.8;
	color: blue;
	text-align: center;
	font-size: 80px;
	line-height: 100px;
	padding: 30px;

}

.texto{
	width: 100%;
	opacity: 1;
	background-color:  rgba(0, 0, 0, 0.931);
	color: rgb(26, 142, 209);
	font-size: 30px;
	/*font-weight: bold;*/
	margin: 10px auto;
	text-align: center;
	padding-top: 10px;
}

.texto h1{
	font-weight: bold;
	font-size: 70px;
	color: blue;
}

.texto h2{
	color: blue;
	font-size: 50px;
}

.texto img, .texto2 img{
	width: 60%;
	margin: 0 auto;
	display: block;
}

p,.texto,.texto2{
	margin-bottom: 0 !important;
	padding: 10px;

}

.texto2{
	margin: 0;
	padding: 0;
	width: 100%;
	opacity: 1;
	background-color: rgba(21, 1, 22, 0.801);
	color: rgb(166, 177, 194);
	/*font-weight: bold;*/
	margin: 10px auto;
	text-align: center;
	font-size: 35px;
}

.texto2 img{
	border: 2px solid white;
}

.texto2 h1{
	color: rgb(207, 145, 29);
	/*font-weight: bold;*/
	font-size: 70px;
	text-align: center;
	margin-top: 10px;

}

.RedesSociais{
	width: 100%;
	background-color: rgb(235, 202, 19);
	font-size: 25px;
	color: rgb(39, 38, 38);
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	margin: 0;
}

.subRS{ /*redesociais*/
	padding: 10px;
	margin-left: 40px;
	margin-right: 40px;
	display: inline-block;
	height: 100%;
}

.subRS a{
	font-size: 20px;
	color: rgb(66, 122, 226);
}

.subRS a:hover{
	color: black;
}


.informaçoes{
	margin: 0;
	background-color: rgb(66, 122, 226);
	color: white;
	font-size: 15px;
	width: 100%;
}

.barratecnica{
	margin: 20px;
	padding: 20px;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-align: center;
	
}

.barratecnica img{
	width: 100px;
	display: block;
	height: 100px;
	margin: 10px auto;
}

.informaçoes h1{
	font-size: 23px;
	font-weight: bold;
}

.informaçoes ul{
	display: block;
	list-style: none;
	margin: 60px;

}

.informaçoes li{
	margin: 7px;
}
.informaçoes li:hover{
	color: yellow;
	transition: 1s;
	cursor: pointer;
}

.barratecnica a{
	color: yellow;
	margin: 5px;
	text-decoration: none;
}

.barratecnica a:hover{
	color: rgb(243, 242, 186);
	transition: 1s;
}

.icone{
	width: 30px;
	height: 30px;
	margin: 2px;
}

.icone:hover{
	transform: scale(1.2);
	transition: 0.4s;
}


.coluna{
	vertical-align: top;
	margin: 0px;
	display: inline-block;
	width: 23%;
	height: 100%;
}


@media (max-width: 767px){  /* nao esta em 768px(padrao) pois causa um bug do bootstrap de a navbar ficar pra fora da tela nessa resul*/


	.carousel-inner > .carousel-item > img {
		width: 15em;
		height: 15em;
	}

	.texto, .texto2, .caixaTexto{
		font-size: 18px;
	}

	.texto h1,.texto2 h1,.texto h2{
		font-size: 25px;
	}

	.rodape{
		font-size: 35px;
	}

	img.logo{
		width: 200px;
		height: 150px;
		margin-right: 0px;
	}

	li.nav-item:hover{
		background-color: black;
		transform: scale(1.1);
		opacity: 1;
		transition: 0.7s;
	}

	.rodape{
		font-size: 25px;
	}

	.paginaAtual{
	font-size: 30px;
	margin-left: 10px;
	padding-right: 10px;
	}

	.coluna{
		display: none;
	}

	.barratecnica{
		margin-top: 0;
	}

}

/* Estilização da página contato.html */


.contact {
	background-image: url(../img/bg5.jpg);
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	background-position: center;
}

.cards-contact {
	height: 100%;
	background-color: rgba(255, 255, 255, 0.75);
}

.text-contact {
	background-color: rgba(254,254,201, 0.4);
	height: 25%;
	padding-top: 1%;
	
}

.text-contact p {
	color: #08346e; /*#ffffff*/
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
}

.text-bold {
	font-weight: bolder;
}

.card-text {
	text-align: justify;
}