body {
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Balsamiq Sans', cursive;*/
}

.navbar {
	background-color: rgba(25, 67, 160, 0.2); /* cor azul aleatória */
	/*background-color: rgba(12, 93, 166, 0.2);*/ /* cor que está no trello #0c5da6  */
}


.paralax1, .paralax2, .paralax3, .paralax4, .paralax5, .paralax-categoria, .paralax-atracoes, .paralax-atracoes-home{  /*adicionado paralax4, paralax5*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	background-position: center;
	margin: 0;
	padding: 0;
}


.paralax1{
	background-image: url(../img/bg1.gif);
	 
}

.paralax2{
	background-image: url(../img/bg5.jpg);
}

.paralax3{
	background-image: url(../img/bg6.jpg);
}


.paginaAtual{
	display: inline-block;
	text-align: left;
	font-size: 70px;
	font-weight: bold;
	color: white;
	margin-left: 30px;
}

.paginaAtual .subtitulo{
	font-size: 30px;
	text-align: center;
}

.TogglerPaginaAtual{
	display: none;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: white; 
	margin-left: 10px;
	margin-right: 15px;
	padding-right: 10px;
	padding-left: 10px;

}

.fundofalso{
	/*background-color: rgb(26, 24, 24) !important;*/
	/*opacity: 0.6;*/
	background-size: cover;
	position: fixed;
	width: 100%;
	top: 0%;
	z-index: 100;
}


img.logo{
	width: 100%;
	height: 100%;
	max-width: 400px;
	max-height: 200px;
	min-width: 70px; /*bug na tela do ipad, a logo fica mt pequena*/

}


.carousel{
	display: inline-block;
	background-color: rgb(39, 38, 38);
	margin-bottom: 30px;
	width: 100%; /*de 70% para 95%*/
	height: 80%;
	max-width: 2000px;  /* de 1100 para 2000*/
	max-height: 1200px;	/*de 900 para 1200*/
	padding: 0;
	
}

.carousel-caption{ 
	color:rgb(255, 255, 255);  /*de amarelo para branco*/
	font-size: 28px;
	font-weight: bold;
}

li.nav-item{
	margin-right: 8px; /*ambas eram 10px, alteradas para 8 para evitar bug na tela do ipad*/
	margin-left: 8px;
	opacity: 1;
}
a.nav-link{
	color: white;
	font-weight: bold;
	/*font-style: normal;*/
	opacity: 1;
	font-size: 20px;
	
}



li.nav-item:hover{
	background-color: grey;
	transform: scale(1.3);
	opacity: 1;
	transition: 0.7s;
}

.navbar-toggler-icon:hover{
	transform: scale(1.3);
	opacity: 1;
	transition: 0.7s;
	
}

.carousel-inner > .carousel-item > img {
	width: 40em;
	height: 30em;
	max-width: 2000px; /*de 1100 para 2000px*/
	max-height: 1200px; /*de 900 para 1200px*/
  }

.menu{
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
}

.rodape{
	width: 100%;
	background-color:rgba(27, 155, 214, 0.95);
	color: rgba(247, 211, 8, 0.95); 
	text-align: center;
	font-size: 80px;
	line-height: 100px;
	padding: 30px;

}

.texto{
	width: 100%;
	opacity: 1;
	background-color:  rgba(0, 0, 0, 0.800); /*opacidade de 0.9 para 0.8*/
	color: rgb(255, 255, 255); /*de azul para branco*/
	font-size: 30px;
	/*font-weight: bold;*/
	margin: 10px auto;
	text-align: center;
	margin-top: 0;
	padding: 0 !important; /* se nao colocar important bootstrap sobrepoem*/
}

.texto h1{
	font-weight: bold;
	font-size: 70px;
	color: rgb(255, 255, 255); /*de azul para branco*/
}

.texto h2{
	color: rgb(255, 255, 255); /*de azul para branco*/
	font-size: 50px;
}

.texto img, .texto2 img{
	width: 60%;
	margin: 0 auto;
	display: block;
}

p,.texto,.texto2{
	margin-bottom: 0 !important;
	padding: 10px;

}

.texto2{
	margin: 0;
	padding: 0;
	width: 100%;
	opacity: 1;
	background-color: rgba(25, 67, 160, 0.800);
	color: white; 
	/*font-weight: bold;*/
	margin: 10px auto;
	text-align: center;
	font-size: 35px;
}

.texto2 img{
	border: 2px solid white;
}

.texto2 h1{
	color: rgb(235, 202, 19);
	font-weight: bold;
	font-size: 70px;
	text-align: center;
	margin-top: 10px;

}

.Cartoes{
	width: 100%;
	background-color: rgba(27, 155, 214, 0.950);
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
}

.cardlink{
	color: rgb(66, 122, 226);
	text-decoration: none;
	font-weight: bold;

}

.card-title{
	font-weight: bold;
	color: rgba(25, 67, 160, 0.800);
}

.blue{
	color: rgba(235, 202, 19,0.950);
}

h5.blue{
	color: rgba(247, 211, 8, 0.95);
}

.cardlink:hover, .blue:hover{
	color: rgb(3, 14, 37);
	transition: 1s;
	text-decoration: none;
}



.RedesSociais{
	width: 100%;
	background-color: rgb(235, 202, 19);
	font-size: 25px;
	color: rgb(39, 38, 38);
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	margin: 0;
}

.subRS{ /*redesociais*/
	padding: 10px;
	margin-left: 40px;
	margin-right: 40px;
	display: inline-block;
	height: 100%;
}

.subRS a{
	font-size: 20px;
	color: rgb(66, 122, 226);
}

.adm a{
	color: rgb(210,57,73);
}

.subRS a:hover{
	color: black;
}


.informaçoes{
	margin-top: 0;
	background-color: rgb(25, 67, 160);
	color: white;
	width: 100%;
	padding-top:40px;/*adicionando paddinf top feito por bea*/
}

.informaçoes.adm{
	margin: 0;
	background-color: rgb(210,57,73);
	color: black;
	font-weight: bold;
}

.barratecnica{
	margin: auto;/*mudando margin e padding para forma dinamica feito por bea*/
	padding: 1rem;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-align: center;
	
}
.barratecnica.adm {
	margin: 0;
	color: black;
	font-size: 22px;
	
}

.barratecnica img{
	width: 100px;
	display: block;
	height: 100px;
	margin: 10px auto;
}

.informaçoes h1{
	font-size: 20px;/*mudando tamanho da fonte para melhor responsividade do footer, feito por bea*/
	font-weight: bold;
}

.informaçoes ul{
	display: block;
	list-style: none;
	padding: 10%;
}

.informaçoes li{
	margin: 2%;/*mudado de tamaho fixo para porcentagem feito or bea*/
}
.informaçoes li:hover{
	color: yellow;
	transition: 1s;
	cursor: pointer;
}

.barratecnica a{
	color: yellow;
	margin: 5px;
	text-decoration: none;
}

.barratecnica.adm a{
	color: white;

}

.barratecnica a:hover{
	color: rgb(243, 242, 186);
	transition: 1s;
}

.barratecnica.adm a:hover{
	color: rgb(0, 0, 0);
	transition: 1s;
}

.icone{
	width: 30px;
	height: 30px;
	margin: 5px;
}

.icone:hover{
	transform: scale(1.2);
	transition: 0.4s;
}


.coluna{
	vertical-align: top;
	margin: 0px;
	display: inline-block;
	width: 23%;
	height: 100%;
}


/* IÍCIO ESTILIZAÇÃO PÁGINA DE ATRAÇÕES */
/*para pagina atrações*/
.paginaAtracoesFrase{
	display: none;
}

.atracoes .card img{
	width: 100%;
}

.atracoes .cards-cat{
	color: #fc2c2a;
	font-weight: bold;
}

.atracoes .card-title{
	color:#ffa100;
}
.atracoes{
	/*background-color:  rgba(158, 51, 131, 0.5);*/
	/*background-color:  rgb(241, 173, 173,0.5);*/
	padding-top:3%;
	padding-right: 5%;
	padding-left: 5%;
	background-color: rgb(250, 250, 250);/*branco gelo*/
	/*background-color: #fefec9;*/

}
 
.atracoes h2{
	/*color: rgb(236, 81, 9);*/
	color:#fc2c2a;
	font-size: 30px;
	text-align: left;
	margin-top: 1%;
}

.atracoes-paralax1{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: local;
	width: 100%;
	height: 100%;
	background-position: center;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/bg1.gif)
}
.atracoes-paralax1 h1{
	color: white;
	font-weight: bold;
	padding-left:3%;
}
.atracoes .results{
	font-size: 20px;
	font-weight: bold;
}



/*FIM DA ESTILLIZAÇÃO PÁGINA DE ATRAÇÕES*/


/*INICIO ESTILIZAÇÃO VIEW ADMINISTRATIVA ATRAÇÕES*/
.paralax-atracoes{
	background-image: url(../img/bg3.jpg);	
	margin-top: 140px;
}
.paralax-atracoes-home{
	background-image: url(../img/bg3.jpg);	
	/*margin-top: 120px;*/
}


.view-adm-atracoes {
	margin:auto;

}


.view-adm-atracoes h1,h2{
	color: white;
	text-align: center;
	
}
.view-adm-atracoes h2{
	margin-top: 2rem;;
}

.container .view-adm-box{
	margin: 0 auto;
	width: 80%;
	border-radius: 1rem;
}


.criar-atracao, .apagar-atracao, .visualizar-atracao{
	padding-top: 120px;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 5%;


}

.centraliza-img{
	text-align: center;
}
.centraliza-img img{
	max-width: 89%;
	padding-bottom: 1rem;
}

input, select, textarea{ /*para deixar inputs do mesmo tamanho*/
	-ms-box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box; 
box-sizing:border-box;
}
.criar-atracao h1, .apagar-atracao h1, .visualizar-atracao h1{
	color:white;
	margin-bottom: 1rem;
	
}
.criar-atracao form, .apagar-atracao form, .visualizar-atracao form{
	color: black;
	padding: 2rem;
background-color: rgb(250, 250, 250);/*branco gelo*/	
border-radius: 2%;
}

/*controle do input file image da view adm atracoes*/
.container{
    margin-top:20px;
}
.image-preview img{
	max-width: 80%;
}

.imagem-db img{
	max-width: 80%;
}
/*fim controle do input file image da view adm atracoes*/


.listar-atracoes h1{
	color: white;
	display: inline-block;
}
.lista-box{
	max-height: 350px;
	overflow: scroll;
}

.pagination-listar{
	display: inline-block;
}


.container.listar-pagination{
	text-align: right;
	display: inline-block;
	width: 49%;
}

.container.listar-button{
	text-align: left;
	display: inline-block;
	width: 49%;

}

.page-item.active .page-link{
	background-color: rgb(210,57,73);
	border: rgb(210,57,73);
	color: white !important;
}

.modal-edicao .modal-body, .modal-exclusao .modal-body{
	text-align: center;
}

.img-modal{
	width: 200px;
	height: 200px;
}
.voltar{
	color:white;
	font-size: 20px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.120);
}

.header-form{
	margin-left: 25%;
	font-size: 30px;
	
}

.paralax-categoria{
	background-image: url(../img/bg3.jpg);
	margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.principal .principal-atracoes{
	font-size: 40px;
}
/*FIM ESTILIZAÇÃO VIEW ADMINISTRATIVA ATRAÇÕES*/



.principal{
	width: 100%;
	text-align: center;
	
}


.principal h1{
	color: white;
	font-size: 50px;
}

.list-buttons{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	background-color: white;
	padding: 3px;
	border-radius: 2%;
}

.principal-button{
	width: 100%;
	text-align: center;
	background: none;
	height: 50px;
	display: block;
	border: none;
	border-bottom: rgb(214, 214, 214) solid;
	


}

.principal-button.last{
	border-bottom: none;
}

.principal-button:hover{
	background-color: rgba(0, 0, 0, 0.120);
	padding: 10px;

}

.principal-button a{
	text-decoration: none;
	color: rgb(210,57,73);
}


.principal-button:hover a{
	text-decoration: none;
	color: black;
}



/*tirando o sublinhado do link alterado por bea*/
.principal a{
	text-decoration: none;
}
/* trocando <br>s por  <divs>*/

.espaço{
	width: 100%;
	opacity: 0;
	height: 200px;
}


.espaço.pequeno{
	height: 60px;/*mudando de 80 pra 60 alteração feita por bea*/
}

.espaço.medio{
	height: 160px;
}

.espaço.grande{
	height: 320px;
}



@media (max-width: 767px){ 
	
	.carousel-inner > .carousel-item > img {
		width: 15em;
		height: 15em;
	}

	.texto, .texto2, .caixaTexto{
		font-size: 18px;
	}

	.texto h1,.texto2 h1,.texto h2{
		font-size: 25px;
	}

	.rodape{
		font-size: 35px;
	}

	img.logo{
		width: 100px;
		height: 60px;
		
	}

	.TogglerPaginaAtual{
		display: inline-block;
	}
	.navbar-toggler span{
		width: 30px;
		height: 30px;
		margin-right: 0;

	}

	li.nav-item:hover{
		pad: 10px;
		background-color: grey;
		transform: scale(1.1);
		opacity: 1;
		transition: 0.7s;
	}

	.rodape{
		font-size: 25px;
	}

	.paginaAtual{
	 display: none;
	}

	.coluna{
		display: none;
	}

	.barratecnica{
		margin-top: 0;
	}

	.FontPequena{  /* class para diminuir o tamanho do titulo quando a tela é pequena, para nao bugar a formatação da navbar*/
		font-size: 15px;
		margin: 1px;
	}


	/*pagina quem somos*/

	/*Valores*/

	.CardFoto p{  /* alteraçoes nos cards para facilitar visualização no cell*/
		display: none;
	}

	.FotoContainer{
		width: 100% !important;
	}

	.card-img{
		width: 100%;
		height: 200px;
	}

	/*Missao*/

	.MissaoIcone{
		width: 50px;
	}


	.SubMissao{
		width: 100% !important;
	}


	/*historia*/

	.HistTexto h2{
		font-size: 30px !important;
	}

	.timeline img{
		width: 140px !important;
		height: 1000px !important;
	}

	.timeline{
		margin-left: 0 !important;
	}

	/*para pagina atrações*/
	.paginaAtracoesFrase{ 
		padding-bottom: 4%;
		padding-top: 4%;
		text-align: left;
		font-weight: bold;
		display: inline-block;
		color:#0c5da6;
	}

	/*pagina adm atracoes*/
	.listar-atracoes h1{
		font-size: 20px;
	}
	 .visualizar-atracao h1, .apagar-atracao h1{
		font-size: 30px;
		
	}
	.visualizar-atracao .modal-body{
		text-align: justify;
	}
	
	.criar-atracao form, .apagar-atracao form, .visualizar-atracao form{
		padding:1rem;
	}
	.paralax-atracoes-home .principal{
		padding-top: 10%;
		font-size: 15px;
	}
	.paralax-atracoes-home .principal button{
		width: 100%;
	}
	/*fim pagina adm atracoes*/

	/*aumentando tamanho dos botões em telas de celular feito por bea*/
	.list-buttons{
		width: 60%;;
	}
	/*para o footer*/
	.barratecnica , .informaçoes{
		margin:0;
		text-align: center;
		font-size: 15px;
	}



	.paralax1{  /* o paralax fica grande dms em celulares*/
		top: 100px;
		height: 400px;
	}

	.Formulario-Categoria{
		width: 85% !important;
	}

	/*evitar bugs com responsividade de pagina listar-categoria*/

	.container.listar-button{
		width: 150px !important;
		margin: 10px 0 !important;
	}

	

	/*bug de responsividade com o footer*/

	

	.barratecnica{
		font-size: 15px !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	
	
	.barratecnica img{
		width: 60px !important;
		display: block !important;
		height: 60px !important;
		margin: 0 auto !important;
	}	
	
	.more-info {
		font-size: 15px;
		justify-content:center;
	}

	.RedesSociais{
		justify-content: center;
		font-size: 20px;
		margin:0;
	}
		/*fim footer*/

}






/*Página Quem Somos*/

.paralax4{
	background-image: url(../img/bg7.jpg);


	
}


.paralax5{  /* obs: é um paralax*/
	background-color: white;

}

.fotos, .missao{
	padding: 10px;
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.card{
	border: none; /*modificação na borda dos cards/fotos*/
}



.fotos h1{
	font-size: 50px;
	font-weight: bold;
	padding: 20px;
	margin: 10px 0;
	color: rgb(0, 0, 0);
	

}

.fotos{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 40px;
	padding-top: 5px;
	background-color: rgb(208, 242, 255);

}


.missao{
	background-color:rgba(27, 155, 214)
}

/* classes da cardfoto*/

.FotoContainer{
	overflow: hidden;
	text-overflow: hidden;
	display: inline-block;
	width: 32.5%;
	height: 270px;
	max-width: 400px;
}

.card-img{
	width: 100%;
	height: 270px;
	
}

.verde{
	background-color: rgba(32, 212, 32, 0.700);
}

.rosa{
	background-color: rgba(241, 15, 211, 0.7);
}

.amarelo{
	color: black;
	background-color: rgba(255, 255, 0, 0.700);
}

.amarelo h5{
	color: black !important;
}

.azul{
	 background-color: rgba(66, 122, 226,0.700);
}

.vermelho{
	background-color: rgba(255, 0, 0, 0.700);
}

.preto{
	background-color: rgba(0, 0, 0,0.7);
}


.CardFoto{
	width: 100%;
	border-radius: 0%;

}


.card-img-overlay{
	opacity: 0;
	
}
.CardFoto h5{
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.CardFoto:hover .card-img-overlay{
	
	opacity: 1;
	transition: 0.5s;

}

.CardFoto:hover{
	transform: scale(1.1);
	transition: 0.5s;
}

/* classes da missao*/

.missao{
	text-align: center;
	padding: 40px;
	
}

.missao h1{
	font-size: 55px;
	color: white;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 3%;
	border-bottom: solid white;
	
}

.SubMissao{
	width: 32%;
	color: white;
	display: inline-block;
	padding: 4px;
	vertical-align: top;  /* p/ evitar bug de formatação*/


}


.MissaoTitulo1, .MissaoTitulo2, .MissaoTitulo3{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	
}

.MissaoTitulo1{
	color: white;
}

.MissaoTitulo2{
	color: red;
}

.MissaoTitulo3{
	color: orange;
}

.MissaoIcone{
	
	opacity: 0.8;
	width: 125px;
	margin: 5px;
}


/*classes da historia*/

.historia{ /* é um paralax*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	background-position: center;
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.TituloHistoria h1{
	width: 100%;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	
}



.TituloHistoria{
	width: 90%;
	background-color:  rgba(25, 67, 160);
	margin: 0;
	padding: 35px;
	color: white;
	margin: 0 auto;
}

.HistTexto{
	display: block;
	width: 90%;
	font-size: 20px;
	background-color: rgba(25, 67, 160);
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	color: white;

}

.HistTexto h2{
	display: inline-block;
	font-size: 50px;
	font-weight: bold;
	margin-left: auto;
	margin-right: 40px;
	text-align: center;
	vertical-align: middle;
	
}


.HistImg{
	display: inline-block;
	width: 40%;
	margin: 10px auto;
	border: white solid 3px;
	min-width: 200px;
}

.hrHist{
	 border-top: 2px solid;
}





.CardFoto{
	width: 100%;
	border-radius: 0%;

}


.card-img-overlay{
	opacity: 0;
	
}
.CardFoto h5{
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.CardFoto:hover .card-img-overlay{
	
	opacity: 1;
	transition: 0.5s;

}

.CardFoto:hover{
	transform: scale(1.1);
	transition: 0.5s;
}

/* classes da missao*/

.missao{
	text-align: center;
	padding: 40px;
	
}

.missao h1{
	font-size: 55px;
	color: white;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 3%;
	border-bottom: solid white;
	
}

.SubMissao{
	width: 32%;
	color: white;
	display: inline-block;
	padding: 4px;
	vertical-align: top;  /* p/ evitar bug de formatação*/


}


.MissaoTitulo1, .MissaoTitulo2, .MissaoTitulo3{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	
}

.MissaoTitulo1{
	color: white;
}

.list-buttons{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	background-color: white;
	padding: 3px;
	border-radius: 2%;
}

.principal-button{
	width: 100%;
	text-align: center;
	background: none;
	height: 50px;
	display: block;
	border: none;
	border-bottom: rgb(214, 214, 214) solid;
	


}

.principal-button.last{
	border-bottom: none;
}

.principal-button:hover{
	background-color: rgba(0, 0, 0, 0.120);
	padding: 10px;

}


.MissaoTitulo2{
	color: red;
}

.MissaoTitulo3{
	color: orange;
}

/*fim da estilização adm-home*/


/* trocando <br>s por  <divs>*/


.MissaoIcone{
	
	opacity: 0.8;
	width: 125px;
	margin: 5px;
}





/*inicio da estilização adm-criar-categoria*/


.PrincipalCategoria{
	 width: 100%;
	 text-align: center;
}

.PrincipalCategoria h1{
	color: white;
	font-size: 50px;
}

.Formulario-Categoria{
	width: 50%;
	background-color: rgb(251, 251, 251);
	margin: 40px auto;
	border-radius: 5px;
	text-align: center;
}

.Formulario-Categoria label{
	color: rgb(15, 15, 15);
	font-size: 25px;

	margin: 10px;
}

.Formulario-Categoria input{
	width: 80%;
	margin: 15px;
	font-size: 20px;
	display: inline-block;
}

.button-categoria{
	width: 220px !important;
	padding: 10px;
	background-color: rgb(1, 122, 255);
	border: none;
	color: white;
	border-radius: 5%;
	margin: 10px;
	text-align: center;

}

.modal-body{
	text-align: center;
}

.img-modal{
	width: 200px;
	height: 200px;
}

.listar-categoria{
	margin-top: 150px;
}


.listar-categoria h1{
	color: white;
	display: inline-block;
}

.lista-box{
	max-height: 350px;
	overflow: scroll;
}

.pagination-listar{
	display: inline-block;
}


.container.listar-pagination{
	text-align: right;
	display: inline-block;
	width: 49%;
}

.container.listar-button{
	text-align: left;
	display: inline-block;
	width: 49%;

}

.container.listar-button a{
	text-decoration: none;
	color: inherit;
}

.page-item.active .page-link{
	background-color: rgb(210,57,73);
	border: rgb(210,57,73);
	color: white !important;
}

.voltar-button{
	padding: 10px;
	display: block;
	margin: 0 auto;
}
.voltar-button a, .button-categoria a{
	text-decoration: none;
	color: inherit;
}

/*fim da estilização adm-criar-categoria*/

.spacer{
	flex: 1;
}